<a href="https://colab.research.google.com/github/Nabanita29/Walmart/blob/main/Inventory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
df = pd.read_excel("/content/inventory.xlsx")
df.head()

   Item ID  Price (INR)     Category  Average Sales  Availability
0        1        109.9  Electronics             15      In Stock
1        2        259.9     Clothing              5      In Stock
2        3         59.9  Electronics             30      In Stock
3        4        499.9        Chair              8  Out of Stock
4        5        159.9     Clothing             12      In Stock

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

# Read the dataset from an Excel file
df = pd.read_excel("/content/inventory.xlsx")

# Convert categorical variables into numerical using one-hot encoding
df = pd.get_dummies(df, columns=["Category"])

# Correcting "Supplier Rating" column: Convert strings to floats
df['Availability'] = df['Availability'].astype(str)

# Encode non-numeric values
label_encoder = LabelEncoder()
df['Availability'] = label_encoder.fit_transform(df['Availability'])

# Split the dataset into features (X) and target (y)
X = df[["Item ID", "Category_Clothing", "Category_Electronics", "Category_Food", "Category_Jewelry", "Category_Shampoo", "Category_The Catcher in the Rye (Book)"]]
y = df["Availability"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:

# Build a Decision Tree classifier
decision_tree = DecisionTreeClassifier(random_state=42)
decision_tree.fit(X_train, y_train)
y_pred_dt = decision_tree.predict(X_test)
accuracy_dt = accuracy_score(y_test, y_pred_dt)
print(f"Decision Tree Accuracy: {accuracy_dt:.2f}")

# Build a Random Forest classifier with adjusted hyperparameters
random_forest = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
random_forest.fit(X_train, y_train)
y_pred_rf = random_forest.predict(X_test)
accuracy_rf = accuracy_score(y_test, y_pred_rf)
print(f"Random Forest Accuracy: {accuracy_rf:.2f}")

Decision Tree Accuracy: 0.90
Random Forest Accuracy: 0.90

In [18]:
X

,Item ID,Price (INR),Average Sales,Category_Books,Category_Chair,Category_Clothing,Category_Elect,Category_Electronics,Category_Food,Category_Furniture,Category_Haircare,Category_Home Decor,Category_Jewelry,Category_Necklace,Category_Shampoo,Category_Skincare,Category_Sporting Goods,Category_Table,Category_The Catcher in the Rye (Book),Category_Toys
0,1,109.9,15,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,2,259.9,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,3,59.9,30,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,499.9,8,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,159.9,12,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,6,79.9,3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
6,7,399.9,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
7,8,12990.0,10,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
8,9,199.9,20,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,10,129.9,10,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,11,299.9,15,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
11,12,359.9,20,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
12,13,699.9,18,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,14,899.9,16,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
14,15,599.9,22,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
15,16,199.9,18,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,17,129.0,25,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
17,18,159.0,18,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
18,19,89.0,20,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
19,20,79.0,16,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
20,21,99.0,22,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
21,22,119.0,18,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
22,23,149.0,24,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
23,24,169.0,22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
24,25,189.0,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
25,26,209.0,25,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
26,27,229.0,28,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
27,28,249.0,30,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
28,29,269.0,26,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
29,30,289.0,30,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
30,31,309.0,18,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31,32,329.0,28,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
32,33,349.0,25,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
33,34,369.0,20,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
34,35,389.0,18,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
35,36,409.0,22,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
36,37,429.0,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
37,38,449.0,24,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
38,39,469.0,20,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
39,40,489.0,18,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40,41,509.0,25,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
41,42,529.0,30,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
42,43,549.0,28,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
43,44,569.0,26,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
44,45,589.0,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
45,46,609.0,32,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
46,47,629.0,28,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
47,48,649.0,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
48,49,669.0,22,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
49,50,689.0,20,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [22]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

# Read the dataset from an Excel file
df = pd.read_excel("/content/inventory.xlsx")

# Convert categorical variables into numerical using one-hot encoding
df = pd.get_dummies(df, columns=["Category"])

# Correcting "Availability" column: Convert strings to numerical values
df['Availability'] = df['Availability'].astype(str)

# Encode non-numeric values
label_encoder = LabelEncoder()
df['Availability'] = label_encoder.fit_transform(df['Availability'])

# Split the dataset into features (X) and target (y)
X = df[["Item ID", "Category_Clothing", "Category_Electronics", "Category_Food", "Category_Jewelry", "Category_Shampoo", "Category_The Catcher in the Rye (Book)"]]
y = df["Availability"]

# Build a Random Forest classifier with adjusted hyperparameters
random_forest = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
random_forest.fit(X, y)

# Get inventory status based on input from user
def get_inventory_status():
    # Get user input
    print("Please enter the following information to get the inventory status:")
    print("-----------------------------------------------------")
    item_id = int(input("Item ID: "))
    category = input("Category (Clothing/Electronics/Food/Jewelry/Shampoo/The Catcher in the Rye (Book)): ")
    print("-----------------------------------------------------")

    # Create a dataframe with the new data
    new_data = pd.DataFrame(
        data=[[item_id, 0, 0, 0, 0, 0, 0]],
        columns=["Item ID", "Category_Clothing", "Category_Electronics", "Category_Food", "Category_Jewelry", "Category_Shampoo", "Category_The Catcher in the Rye (Book)"]
    )

    if category in new_data.columns:
        new_data[category] = 1

    # Get the prediction
    prediction = random_forest.predict(new_data)[0]

    # Print the prediction
    if prediction == 0:
        print("This item is not available at the moment.")
    else:
        print("This item is available.")

# Call the function to get inventory status based on user input
get_inventory_status()

Please enter the following information to get the inventory status:
-----------------------------------------------------
Item ID: 2
Category (Clothing/Electronics/Food/Jewelry/Shampoo/The Catcher in the Rye (Book)): Clothing
-----------------------------------------------------
This item is not available at the moment.

In [23]:
get_inventory_status()

Please enter the following information to get the inventory status:
-----------------------------------------------------
Item ID: 1
Category (Clothing/Electronics/Food/Jewelry/Shampoo/The Catcher in the Rye (Book)): Shampoo
-----------------------------------------------------
This item is not available at the moment.